*{
    margin: 0;
    padding: 0;
}
body{
    padding: 12px;
    text-align: center;
    margin: 12px 32px 12px 32px;
    padding: 12px;
    background: antiquewhite;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 16px;
}
#container {

}

#canvas {
    background: cadetblue;
    max-height: 70vh;
}